<%- include("partials/header") -%>

<div class="container p-5 text-center">
    <h1>Our Secret page</h1>
    <form action="/logout">
        <button type="submit" class="btn btn-danger mt-3">LogOut</button>
    </form>
</div>

<%- include("partials/footer") -%>